@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root{
    --secondary-color: rgba(37, 66, 102, 0.9);
}

body{
    background-color: rgb(212, 234, 255);
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100vw;
    max-width: 2222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    height: 55px;
}


header > nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

div.logo >img{
    height: 45px;
    aspect-ratio: 1;
    margin-right: 2rem;
}

ul.nav-menu{
    display: flex;
}

li.nav-link{
    list-style: none;
    padding: 0 1rem;
}
li.nav-link > a:hover{
    color: gray;
}

li.nav-link a{
    color: black;
    text-decoration: none;
}

#search-text{
    height: 2rem;
    padding: 4px 8px;
    border: none;
    outline: none;
    border-radius: 50px 0 0 50px;
}
#search-submit{
    height: 2rem;
    border: none;
    outline: none;
    padding: 4px 8px;
    border-radius:0 50px 50px 0;
    background-color: var(--secondary-color);
}

h1.home{
    letter-spacing: .2em;
    font-size: 48pt;
    position: relative;
    -webkit-text-stroke: 3px var(--secondary-color);
}

h1.home::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

section#home{
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
}

section#projects{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    
    max-width: 100%;
    min-height: 100vh;
    width: 1200px;
    justify-content: flex-start;
    background-color: pink;
    flex-grow: 1;
}

.contain{
    max-width: 300px;
    overflow: hidden;
    box-shadow: 2px 2px 4px 0px black;
    padding: .5em 1em;
    height: fit-content;
    background: white;
    gap: 1rem;
}
.thumbnail{
    width: 100%;
    position: relative;

}
.iframe_container{
    height: 400px;
}
.iframe_container > iframe{
    height: 100%;
}
div.description{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    opacity: 0%;
}
.title{
    margin: 5px 0;
}

div.description:hover{
    color: wheat;
    opacity: 100%;
    text-align: center;
    cursor: pointer;
}

.mid-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-mid{
    display: flex;
    flex-direction: row;
    align-items: center;
 
}
.project{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.thumbnail{
    box-shadow: 1px 1px 10px 5px gray inset;
}

@media screen and (max-width: 620px) {
    nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }
    .nav-menu{
        position: relative;
    }
    h1.home, h2{
        text-align: center;
        margin: 1rem;
        font-size: 22pt;
    }
    section#projects{
        width: min-content;
    }
}


@media screen and (min-width: 400px) {
section#projects{
    width: 340px;
}
}

@media screen and (min-width: 800px) {
    section#projects{
        width: 720px;
    }
    }

@media screen and (min-width: 1200px) {
    section#projects{
        width: 1100px;
    }
    }